* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

/* Navbar */
#nav {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 99;
    top: 0;
    transition: 0.5s;
}

#nav .container-fluid {
    background-color: #000;
    transition: 0.5s;
    padding: 20px 20px 0;
}

.logo p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
    /* margin: ; */
}

.links a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.links a:hover {
    color: #ff6e4e;
}


.icons i {
    margin: 0 10px;
    color: #ff6e4e;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

.icons i:last-child {
    display: none;
}

.icons .login-btn {
    background-color: #ff6e4e;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
    margin: 0 20px 10px;
}

.icons {
    position: relative;
}

.numOfCarts {
    position: absolute;
    background-color: #ff6e4e;
    width: 22px;
    height: 22px;
    text-align: center;
    border-radius: 50%;
    top: -15px;
    left: 23px;
    font-weight: bold;
}

.shopping-cart {
    position: absolute;
    right: -105px;
    transform: translateX(550px);
    /* background-color: white; */
    top: 0px;
    height: 100vh;
    width: 35vw;
    transition: 0.5s;
}

.shopping-cart .navbar {
    padding: 10px 20px 0;
    border-bottom: 1px rgba(128, 128, 128, 0.322) solid;
    background-color: white;
}

.shopping-cart .navbar p {
    font-weight: 600;
}
.shopping-cart .navbar i {
    margin: 0 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.shopping-cart .empty {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopping-cart .product {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.shopping-cart .product .item {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    width: 100%;
    margin: 10px 0;
}

.plusMinus i{
    margin: 0 10px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .links {
        position: absolute;
        top: 70px;
        right: 0;
        transform: translateX(500px);
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        width: 100vw;
        text-align: left;
        transition: 0.5s;
        z-index: 0;
        padding: 20px;
    }

    .links a {
        color: gray;
        margin: 10px 0;
    }

    .links .login {
        display: block;
    }

    .icons .login {
        display: none;
    }

    .icons i:last-child {
        display: inline-block;
    }

    .shopping-cart {
        right: 0px;
        width: 100vw;
    }
}

/* login */

.overlayLogin {
    position: absolute;
    top: 0;
    background-color: #00000071;
    /* height: 100vh; */
    height: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.overlayLogin .container {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.overlayLogin .container .formLogin {
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.078); /* Light background with transparency */
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light border with transparency */
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
}

.overlayLogin i {
    font-size: 30px;
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: 0.3s;
    visibility: hidden;
}

.overlayLogin i:hover {
    color: #ff6e4e;
    cursor: pointer;
}

.overlayLogin #username,
.overlayLogin #password {
    border-radius: 5px;
    padding: 10px 30px 10px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(220, 220, 220, 0.555);
    color: white;
}

.overlayLogin #username::placeholder,
.overlayLogin #password::placeholder {
    color: white;
}

.formLogin .login-btn {
    background-color: #ff6e4e;
    color: white;
    padding: 5px 15px;
    font-size: 18px;
    margin: 0 20px 10px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

.formLogin .login-btn:hover {
    background-color: #ff6e4e98;
}

.formLogin a {
    color: white;
    text-decoration: none;
}

.formLogin a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}